# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ List three development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Fanilo

[link to the github repo](https://github.com/Straterror/Tools-for-data-science)